.typeWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;

  a {
    color: blue !important;
  }
}

.loginGoogle {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
